# Dependencies

In [1]:
import pandas as pd

### We can read CSV files using pandas but we are going to create
### For reading CSV files using pandas, you can write this code --> `pd.read_csv("xxxxxxx.csv")`

#### Here is how we create a dataframe using pandas

In [2]:
data = {
    "order_id": [1, 2, 3, 4, 5, 6, 7],
    "customer_id": ["C001", "C002", "C001", "C003", "C004", "C002", "C005"],
    "country": ["SG", "MY", "SG", "TH", "SG", "MY", "PH"],
    "product": [
        "Ink Tank Printer",
        "Mono Laser",
        "Ink Bottle",
        "Colour Laser",
        "Toner",
        "Ink Bottle",
        "Ink Tank Printer"
    ],
    "category": [
        "Printer",
        "Printer",
        "Consumable",
        "Printer",
        "Consumable",
        "Consumable",
        "Printer"
    ],
    "price": [299, 199, 15, None, 120, 15, 289],
    "quantity": [1, 2, 3, 1, None, 5, 1],
    "order_date": [
        "2025-01-01 10:05",
        "2025-01-01 11:10",
        "2025-01-02 09:30",
        "2025-01-02 14:00",
        "2025-01-03 16:45",
        "2025-01-03 17:10",
        "2025-01-04 10:00"
    ],
    "email": [
        "USER1@EMAIL.COM",
        "user2@email.com",
        "user1@email.com",
        "user3@email.com",
        "user4@email.com",
        "user2@email.com",
        "user5@email.com"
    ]
}

df = pd.DataFrame(data)
df

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
1,2,C002,MY,Mono Laser,Printer,199.0,2.0,2025-01-01 11:10,user2@email.com
2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
3,4,C003,TH,Colour Laser,Printer,NaN,1.0,2025-01-02 14:00,user3@email.com
4,5,C004,SG,Toner,Consumable,120.0,NaN,2025-01-03 16:45,user4@email.com
5,6,C002,MY,Ink Bottle,Consumable,15.0,5.0,2025-01-03 17:10,user2@email.com
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1.0,2025-01-04 10:00,user5@email.com

### Calling the unique values of each columns

In [3]:
df["price"].unique()

array([299., 199.,  15.,  nan, 120., 289.])

In [4]:
df["quantity"].unique()

array([ 1.,  2.,  3., nan,  5.])

In [5]:
df["order_date"].unique()

array(['2025-01-01 10:05', '2025-01-01 11:10', '2025-01-02 09:30',
       '2025-01-02 14:00', '2025-01-03 16:45', '2025-01-03 17:10',
       '2025-01-04 10:00'], dtype=object)

### Select the columns we want and have it in dataframe format

In [6]:
df_select =\
(
    df[["customer_id", "country", "product", "price"]]
)

df_select

  customer_id country           product  price
0        C001      SG  Ink Tank Printer  299.0
1        C002      MY        Mono Laser  199.0
2        C001      SG        Ink Bottle   15.0
3        C003      TH      Colour Laser    NaN
4        C004      SG             Toner  120.0
5        C002      MY        Ink Bottle   15.0
6        C005      PH  Ink Tank Printer  289.0

In [7]:
df["price"]
df[["price"]]

   price
0  299.0
1  199.0
2   15.0
3    NaN
4  120.0
5   15.0
6  289.0

### Filtering out the rows that we want with specific filters

#### .query method

In [8]:
df_sg=\
(
    df
    .query("country == 'SG'")
)

df_sg

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
4,5,C004,SG,Toner,Consumable,120.0,NaN,2025-01-03 16:45,user4@email.com

In [9]:
df_sg_printer=\
(
    df
    .query("country == 'SG' & category == 'Printer'")
)
df_sg_printer

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM

#### manual way

In [10]:
df[df["country"] == "SG"]

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
4,5,C004,SG,Toner,Consumable,120.0,NaN,2025-01-03 16:45,user4@email.com

In [11]:
df[df["price"] >= 200]

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1.0,2025-01-04 10:00,user5@email.com

In [12]:
df_price_200=\
(
    df[df["price"] >= 200]
)

In [13]:
df_sg_printers=\
(
    df[
    (df["country"] == "SG") &
    (df["category"] == "Printer")]
)
df_sg_printers

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM

#### Filtering row/s with NaN

In [14]:
df_quantity_missing=\
(
    df[df["quantity"].isna()]
)

df_quantity_missing

,order_id,customer_id,country,product,category,price,quantity,order_date,email
4,5,C004,SG,Toner,Consumable,120.0,NaN,2025-01-03 16:45,user4@email.com

In [15]:
df_price_missing=\
(
    df[df["price"].isna()]
)

df_price_missing

,order_id,customer_id,country,product,category,price,quantity,order_date,email
3,4,C003,TH,Colour Laser,Printer,NaN,1.0,2025-01-02 14:00,user3@email.com

In [16]:
#### preview dataframe to compare output
df

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
1,2,C002,MY,Mono Laser,Printer,199.0,2.0,2025-01-01 11:10,user2@email.com
2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
3,4,C003,TH,Colour Laser,Printer,NaN,1.0,2025-01-02 14:00,user3@email.com
4,5,C004,SG,Toner,Consumable,120.0,NaN,2025-01-03 16:45,user4@email.com
5,6,C002,MY,Ink Bottle,Consumable,15.0,5.0,2025-01-03 17:10,user2@email.com
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1.0,2025-01-04 10:00,user5@email.com

#### Remove rows with NaN using .dropna

In [17]:
df_clean=\
(
    df
    .dropna(subset = ["price"])
)

df_clean

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
1,2,C002,MY,Mono Laser,Printer,199.0,2.0,2025-01-01 11:10,user2@email.com
2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
4,5,C004,SG,Toner,Consumable,120.0,NaN,2025-01-03 16:45,user4@email.com
5,6,C002,MY,Ink Bottle,Consumable,15.0,5.0,2025-01-03 17:10,user2@email.com
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1.0,2025-01-04 10:00,user5@email.com

#### Fill NaN with any values you want. Both numbers and strings are acceptable

In [18]:
df_clean["quantity"]=\
(
    df_clean["quantity"].fillna(1)
)

df_clean

/var/folders/_2/_sjty54d39lfdb9g4lc7wnbh0000gn/T/ipykernel_67493/3398673974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["quantity"]=\

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
1,2,C002,MY,Mono Laser,Printer,199.0,2.0,2025-01-01 11:10,user2@email.com
2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
4,5,C004,SG,Toner,Consumable,120.0,1.0,2025-01-03 16:45,user4@email.com
5,6,C002,MY,Ink Bottle,Consumable,15.0,5.0,2025-01-03 17:10,user2@email.com
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1.0,2025-01-04 10:00,user5@email.com

#### Resetting index after removing rows

In [19]:
(
    df_clean
    .reset_index()
)

,index,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,0,1,C001,SG,Ink Tank Printer,Printer,299.0,1.0,2025-01-01 10:05,USER1@EMAIL.COM
1,1,2,C002,MY,Mono Laser,Printer,199.0,2.0,2025-01-01 11:10,user2@email.com
2,2,3,C001,SG,Ink Bottle,Consumable,15.0,3.0,2025-01-02 09:30,user1@email.com
3,4,5,C004,SG,Toner,Consumable,120.0,1.0,2025-01-03 16:45,user4@email.com
4,5,6,C002,MY,Ink Bottle,Consumable,15.0,5.0,2025-01-03 17:10,user2@email.com
5,6,7,C005,PH,Ink Tank Printer,Printer,289.0,1.0,2025-01-04 10:00,user5@email.com

#### Changing data type to integer

In [20]:
df_clean["quantity"]=\
(
    df_clean["quantity"].astype(int)
)

/var/folders/_2/_sjty54d39lfdb9g4lc7wnbh0000gn/T/ipykernel_67493/2642054179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["quantity"]=\

#### Changing data type to datetime

In [21]:
df_clean["order_date"]=\
(
    pd.to_datetime(df_clean["order_date"])
)

/var/folders/_2/_sjty54d39lfdb9g4lc7wnbh0000gn/T/ipykernel_67493/814792843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["order_date"]=\

In [22]:
#### Preview data after changing data type
df_clean

,order_id,customer_id,country,product,category,price,quantity,order_date,email
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1,2025-01-01 10:05:00,USER1@EMAIL.COM
1,2,C002,MY,Mono Laser,Printer,199.0,2,2025-01-01 11:10:00,user2@email.com
2,3,C001,SG,Ink Bottle,Consumable,15.0,3,2025-01-02 09:30:00,user1@email.com
4,5,C004,SG,Toner,Consumable,120.0,1,2025-01-03 16:45:00,user4@email.com
5,6,C002,MY,Ink Bottle,Consumable,15.0,5,2025-01-03 17:10:00,user2@email.com
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1,2025-01-04 10:00:00,user5@email.com

In [23]:
#### Sanity check to ensure data type is changed accurately
(
    df_clean.dtypes
)

order_id                int64
customer_id            object
country                object
product                object
category               object
price                 float64
quantity                int64
order_date     datetime64[ns]
email                  object
dtype: object

### Add Hour, Days Column after unlocking datetime format

In [24]:
df_clean["order_hour"]=\
(
    df_clean["order_date"].dt.hour
)

df_clean

/var/folders/_2/_sjty54d39lfdb9g4lc7wnbh0000gn/T/ipykernel_67493/1190713754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["order_hour"]=\

,order_id,customer_id,country,product,category,price,quantity,order_date,email,order_hour
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1,2025-01-01 10:05:00,USER1@EMAIL.COM,10
1,2,C002,MY,Mono Laser,Printer,199.0,2,2025-01-01 11:10:00,user2@email.com,11
2,3,C001,SG,Ink Bottle,Consumable,15.0,3,2025-01-02 09:30:00,user1@email.com,9
4,5,C004,SG,Toner,Consumable,120.0,1,2025-01-03 16:45:00,user4@email.com,16
5,6,C002,MY,Ink Bottle,Consumable,15.0,5,2025-01-03 17:10:00,user2@email.com,17
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1,2025-01-04 10:00:00,user5@email.com,10

In [25]:
df_clean["order_day"]=\
(
    df_clean["order_date"].dt.day_name()
)

df_clean

/var/folders/_2/_sjty54d39lfdb9g4lc7wnbh0000gn/T/ipykernel_67493/3362579504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["order_day"]=\

,order_id,customer_id,country,product,category,price,quantity,order_date,email,order_hour,order_day
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1,2025-01-01 10:05:00,USER1@EMAIL.COM,10,Wednesday
1,2,C002,MY,Mono Laser,Printer,199.0,2,2025-01-01 11:10:00,user2@email.com,11,Wednesday
2,3,C001,SG,Ink Bottle,Consumable,15.0,3,2025-01-02 09:30:00,user1@email.com,9,Thursday
4,5,C004,SG,Toner,Consumable,120.0,1,2025-01-03 16:45:00,user4@email.com,16,Friday
5,6,C002,MY,Ink Bottle,Consumable,15.0,5,2025-01-03 17:10:00,user2@email.com,17,Friday
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1,2025-01-04 10:00:00,user5@email.com,10,Saturday

### Creating a new column with feature engineering

In [26]:
df_clean["revenue"]=\
(
    df_clean["price"] * df_clean["quantity"]
)

df_clean

/var/folders/_2/_sjty54d39lfdb9g4lc7wnbh0000gn/T/ipykernel_67493/896292388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["revenue"]=\

,order_id,customer_id,country,product,category,price,quantity,order_date,email,order_hour,order_day,revenue
0,1,C001,SG,Ink Tank Printer,Printer,299.0,1,2025-01-01 10:05:00,USER1@EMAIL.COM,10,Wednesday,299.0
1,2,C002,MY,Mono Laser,Printer,199.0,2,2025-01-01 11:10:00,user2@email.com,11,Wednesday,398.0
2,3,C001,SG,Ink Bottle,Consumable,15.0,3,2025-01-02 09:30:00,user1@email.com,9,Thursday,45.0
4,5,C004,SG,Toner,Consumable,120.0,1,2025-01-03 16:45:00,user4@email.com,16,Friday,120.0
5,6,C002,MY,Ink Bottle,Consumable,15.0,5,2025-01-03 17:10:00,user2@email.com,17,Friday,75.0
6,7,C005,PH,Ink Tank Printer,Printer,289.0,1,2025-01-04 10:00:00,user5@email.com,10,Saturday,289.0